<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Mostrar Pet</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container mt-3">

        <h2> Pet </h2>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Agata
                    </div>
                    <div class="card-body">
                        <p>Tipo: Gato</p>
                        <p>Data Nasc: 01/04/15</p>
                        <p>cor: Laranja</p>
                        <p>Dono: <a href="/dono/1">NOME_DONO</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>