<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h1>Bem vindo!</h1>
            </div>
            <div class="card-body">
                <p>Esse é o painel administrador do Petshop <%= app_nome %></p>

                <p><small>
                    <%= texto %>
                </small></p>
            </div>
        </div>
    </div>
  </body>
</html>
