<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Editar Dono</title>
</head>
<body>
    <%- include('./../partials/header') %>
    <div class="container mt-3">
        <h2>Criar Dono</h2>
        <form method="POST" action="/dono/guardar">
            <div class="row">
                <label class="form-group col-12">
                    <span class="form-label">Nome</span>
                    <input class="form-control" type="text" name="nome" />
                </label>
            </div>
            <div class="row">
                <label class="form-group col-12">
                    <span class="form-label">Email</span>
                    <input class="form-control" type="email" name="email"  />
                </label>
            </div>
            <div class="row">
                <label class="form-group col-12">
                    <span class="form-label">Data de nascimento</span>
                    <input class="form-control" type="text" name="data_nascimento"  />
                </label>
            </div>
            
            <p class="text-right mt-3">
                <button class="btn btn-primary">Enviar</button>
            </p>
        </form>
    </div>
    
</body>
</html>